*.glb filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
game/assets/models/*.png filter=lfs diff=lfs merge=lfs -text
game/assets/models/*.jpg filter=lfs diff=lfs merge=lfs -text
game/assets/models/*.jpeg filter=lfs diff=lfs merge=lfs -text
data/textures/**/*.jpg filter=lfs diff=lfs merge=lfs -text
data/textures/**/*.png filter=lfs diff=lfs merge=lfs -text
